@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  background-color: #fff;
  width: 400px;
  box-shadow: 0 4px 8px hsla(0, 0%, 20%, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .container {
    height: 90vh;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header input {
  font-family: inherit;
  background-color: #eee;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

header button {
  background-color: transparent;
  color: #aaa;
  font-size: 1.5rem;
  border: none;
  margin-left: 0.5rem;
}

.fav-container {
  background-color: #d9dbf1;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.fav-meals li {
  display: grid;
  grid-template-rows: min-content;
  position: relative;
  cursor: pointer;
}

.fav-meals li .clear {
  background-color: transparent;
  position: absolute;
  top: -5px;
  right: -10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0;
  transition: 300ms;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  height: 70px;
  width: 70px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 10px hsla(0, 0%, 20%, 0.3);
  object-fit: cover;
}

.fav-meals li span {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.fav-meals li:hover span {
  overflow: visible;
  white-space: normal;
}

.meals {
  overflow-y: auto;
}

.meal {
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px hsla(0, 0%, 20%, 0.3);
  margin: 1.5rem;
  overflow-y: auto;
}

.meal img {
  cursor: pointer;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 1rem;
  border-bottom-right-radius: 0.5rem;
}

.meal-header img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.meal-body .fav-btn.active {
  color: red;
}

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  max-height: 90vh;
  max-width: 600px;
  width: 100%;
  padding: 0 2rem;
  border-radius: 0.5rem;
  position: relative;
  overflow-y: auto;
}

.popup h1 {
  text-align: center;
}

.popup .close-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
  margin: none;
  border: none;
  transition: 300ms all;
}
